<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>COMPANIE </th>
            <th>NIT</th>
            <th>LOGO</th>
            <th>ADDRESS</th>
            <th>DESCRIPTION</th>
            <th>LEGALREPRESENTATIVE</th>
            <th>PHONE</th>
            <th></th>
        </tr>
    </thead>

    

         <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Nit</td>
            <td><img src="@Model.Logo" alt="" width="60px"></td>
            <td>@Model.Address</td>
            <td>@Model.Description</td>
            <td>@Model.LegalRepresentative</td>
            <td>@Model.Phone</td>
            
        </tr>

    

</table>